html {
 background-color: FFF0CE;
}

h1 {
 color:rgb(12, 53, 106);
 background-color: #FFC436;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: center;
}

img.about{
 padding-left:4cm;
}

h3 {
 color:#0174BE;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
 color:#FFC436;   
}

p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: justify;  
}

p.image{
 text-align: center;   
}

p.center{
 text-align: center;
 background-color: blanchedalmond; 
}

li{
 font-family: Georgia, 'Times New Roman', Times, serif;      
}

a:link{
 color: rgb(16, 51, 223);
 text-decoration:none;
}

a:visited { 
 text-decoration:rgb(244, 80, 21); 
}
