html {
 background-color: FFF0CE;
}

#h1{
 border: 0px solid  #e8dcc0;
 padding:20px;
 margin-top: 0px;
 background-color: #e8dcc0;
 color:rgb(12, 53, 106);
 font-family: 'Lora', serif;
 font-size: 50px;
 font-weight: normal;
 font-style: normal;
 text-align: center;
}

h3 {
 color:#0174BE;
 font-family:'Lora', serif;
 text-align: center;
 background-color: rgb(212, 173, 173); 
}

h4{
 color:#c18e18;
 text-align: center;   
}

p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: justify;  
}

.about{
 position:relative;
}

.photo{
 background-color: #dbd7d4;
 width: 500px; 
 height: 300px;
 padding-left: 10%;
}

.welcome{
 text-align:center;
 background-color: #ebe8f0;
 width:40%;
 height:100px;
 position: absolute;
 top:15%;
 left: 55%;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 min-height: fit-content;
 overflow:hidden;
}

.list{
 background-color: #ebe8f0;
 width:23%;
 height:80px;
 left: 66%;
 bottom: 5%;
 padding-left: 60px;
 overflow:hidden;
 min-height: fit-content;
 position: absolute;
}

#footer{
 text-align: center;
 background-color: blanchedalmond; 
}

#back{
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

li{
 font-family: Georgia, 'Times New Roman', Times, serif;   
}

a:link {
text-decoration: none;    
color: rgb(14, 5, 248);
}

a:visited {
color:#5f0be4; 
}

a:focus {
text-decoration: none;
background: #bae498;
}

a:hover {
text-decoration: none;
background: #a5a5a7;
}

a:active {
background: rgba(208, 53, 53, 0.756);
color: rgb(198, 235, 124);
}


