html {
 background-color: rgb(215, 216, 213);
}

div{
 display:inline-block;
}

.title{
 font-family: 'Lora', serif;
 font-size: 60px; 
 font-weight:bold;
 text-align: center;
 margin-top: 0;
}

.welcome{
 float:left;
 width:45%;
 border:solid;
 border-color: #e67016;
}

.wtext{
  float:right;
  width:40%;
  margin-right:30px;
  margin-top:40px;
}

.wtext>.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
}

.intro{
 float:right;
 width:45%;
 border:solid;
 border-color:#0174BE;
}

.itext{
  float:right;
  width:40%;
  margin-right:30px;
  margin-top:40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
}

.image{
  height:250px;
  margin-left:5%;
  margin-top:1%;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
}

footer>p{
  clear:both;
  text-align: center;
}

h1{
background-color: #e8dcc0;
color:rgb(72, 70, 70);
font-family: 'Lora', serif;
font-size: 80px;
font-weight: normal;
font-style: normal;
text-align: center;
}

.h3 {
 color:#0174BE;
 font-family:'Lora', serif;
 text-align: center;
 background-color: rgb(203, 162, 120); 
}

h4{
 color:#c18e18;
 text-align: center;   
}

.summary{
width:100%;
}

.sum-title{
 font-size:2rem;
 float:right;
 width:90%;
 margin-top: 0;
 background-color:azure;
}

.sum-text{
 font-size:20px;
 float: right;
 width:90%;
 margin-top: 0;
}

.sum-container{
 width:70%;
}

.detail-title{
  font-size:2rem;
  text-align: right;
  margin-right:30%;
  background-color:azure;
 }

.twelve{
 width:70%;
 font-size:20px;
}

.eight{
  float:right;
  width:70%;
  font-size:20px;
}

@media (max-width:1200px) and (min-width:319px){

  .title{
    font-size: 40px; 
   }
   
   .welcome{
    float:left;
    width:100%;
    margin-bottom:10%;
   }
   
   .wtext{
    float:right;
    width:50%;
   }
   
   .intro{
    float:right;
    width:100%;
   }
   
   .itext{
    float:right;
    width:50%;
  }

  .image{
   height:200px;
  }

  .photo-container{
    width:100%;
    text-align: center;
  }

  .photo{
    height:200px;
  }

  .summary{
    width:100%;
    }
    
  .sum-title{
    font-size:25px; 
    width:100%;
    text-align: center;
    margin-top: 0;
    background-color:azure;
  }
  
  .sum-text{
    width:100%;
    margin-top: 0;
  }
  
  .sum-container{
    width:100%;
  }
  
  .detail-title{
    width:100%;
    font-size:25px; 
    text-align: center;
    margin-right:30%;
    background-color:azure;
    }
  
  .twelve{
    width:100%;
  }
  
  .eight{
    width:100%;
  }


}

@media (min-width:90px) and (max-width:476px){

  .title{
    font-size: 40px; 
   }
  
  .wtext{
    float:right;
   }

  .itext{
    float:right;
  }

  .image{
    height:100px;
    margin-top:13%;
  }

  .summary{
    width:100%;
    }
    
  .sum-title{
    font-size:25px; 
    width:100%;
    text-align: center;
    margin-top: 0;
    background-color:azure;
  }
  
  .sum-text{
    width:100%;
    margin-top: 0;
  }
  
  .sum-container{
    width:100%;
  }

  .photo-container{
    width:100%;
    text-align: center;
  }

  .photo{
    height:200px;
  }
  
  .detail-title{
    width:100%;
    font-size:25px; 
    text-align: center;
    margin-right:30%;
    background-color:azure;
    }
  
  .twelve{
    width:100%;
  }
  
  .eight{
    width:100%;
  }

}

.connect{
font-family: 'Lora', serif;
font-size: 2rem;
text-align: center;
color:#e67016;
}

.icons{
height:50%; 
padding-left: 34%;
}

#back{
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

li{
 font-family: Georgia, 'Times New Roman', Times, serif;   
}

a:link {
text-decoration: none;    
color: rgb(14, 5, 248);
}

a:visited {
color:#5f0be4; 
}

a:focus {
text-decoration: none;
background: #bae498;
}

a:hover {
text-decoration: none;
}

a:active {
background: rgba(208, 53, 53, 0.756);
color: rgb(198, 235, 124);
}